/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variáveis CSS */
:root {
    --color-light: #f4f4f4;
    --color-orange: #ff6600;
    --color-dark: #222222;
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 30px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: var(--color-dark);
}

/* Formatações para elementos que sempre se repetem  */

a {
    color: var(--color-light);
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

a:hover {
    color: var(--color-orange);
}

ul, ol {
    list-style: none;
}



/* hero da página */
.hero {
    height: 100dvh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, .8), rgba(0, 0, 0, .3)),
    url(../images/motos/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--color-light);
}

.header-hero {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--spacing-md);
}

.hero-menu {
    display: flex;
    gap: var(--spacing-md);
}

.cta{
    height: calc(100dvh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
    flex-direction: column;
    text-align: center;
}

.cta h2{
    font-size: 10vmin;

}

.cta p{
    width: 50%;
    font-size: 3vmin;
    font-weight: 500;
    line-height: 1.6;
    text-wrap: balance;
}

.btn{
    border: 2px solid var(--color-orange);
    background-color: var(--color-orange);
    border-radius: 9px;
    padding: var(--spacing-sm) var(--spacing-lg);
    transition: 0.5s;
}

.btn:hover{

    background-color: transparent;
    
}


.arrow{

    animation: arrowAnim 2s infinite linear;

}
/* animacao seta cta */

@keyframes arrowAnim {
    0%, 100% {
        transform: translateY(-5px);
    }

    50%{
        transform: translateY(5px);
    }

}


.conheca, .galeria {
    height: 100dvh;
}



.motos{
    height: 100dvh;
    padding: var(--spacing-md);
    background-color: var(--color-dark);
    width: 90%;
    margin: var(--spacing-sm) auto;
        color: var(--color-light);
}

.color-orange{
    color: var(--color-orange);
}

.motos h2{
    font-size: 10vmin;
    text-align: center; 
}

.grid-motos{
    width: 100%;
    display: flex;
    gap: var(--spacing-lg);
}

.moto-item{

    width: 30%;

}

.moto-item img{

    width: 100%;

}

